.contenedor {
    background: linear-gradient(to bottom right, rgb(8, 8, 26), rgb(182, 33, 7));
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Arial, Helvetica, sans-serif;
}

.body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1 {
    color: azure;
}

input[type="number"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
}

input[type="submit"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

.tutiempo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(8, 8, 26), rgb(182, 33, 7));
    width: 40%;
    border-radius: 10px;
    padding: 20px;

}

/* Estilos para dispositivos pequeños */
@media only screen and (max-width: 768px) {
    .contenedor,
    .tutiempo {
        width: 80%; /* Reducir el ancho para pantallas más pequeñas */
        padding: 15px; /* Ajustar el relleno */
        font-size: 16px; /* Reducir el tamaño de fuente */
    }

    input[type="number"],
    input[type="password"],
    input[type="submit"] {
        width: 90%; /* Ajustar el ancho de los inputs y botón */
        font-size: 14px; /* Reducir el tamaño de fuente de los inputs */
    }
}
/* Estilos para el botón de volver al home */
.boton-volver {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.boton-volver:hover {
    background-color: #555;
}
