<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{datos.titulo}}</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body class="body">
    <div class="tutiempo">
        <h1 class="h1">Lo sentimos pero el dorsal que buscas no se encuentra en nuestra base de datos</h1>
        <h1 class="h1"> El dorsal que buscas es: {{datos.dorsal}}</h1>
        <a href="/" class="boton-home boton-volver">Volver al Home</a>

    </div>
</body>

</html>
